/* Start Common Reset BootStrap CSS Here */

:root {
    --primary_font: font-family: 'Open Sans', sans-serif;
    --Primary_color: #ffffff;
    --secondary_color: #000000;
    --heading_color: #02918c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
a,
ul,
ol {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}

body,
textarea {
    font-family: var(--primary_font);
}

/* End Common Reset BootStrap CSS Here */



/* Start Heading Section CSS Style Here */
#header_section {
    background-color: #02918b;

}

#header_section ul li a.nav-link {
    color: var(--Primary_color);
    font-size: 12px;
    font-weight: 800;
    line-height: 25px;
    padding: 10px 24.5px;
    text-transform: uppercase;
}

/* End Heading Section CSS Style Here */


/* Start Bannar Section CSS Style Here */

#bannar_section {
    text-align: center;
    height: 728px;
    position: relative;
    background-size: cover !important;
    z-index: 1;

}

#bannar_section::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
    z-index: -1;
}

#bannar_section h6 {
    font-size: 30px;
    color: var(--Primary_color);
    font-weight: 400;
    line-height: 25px;
}

#bannar_section h1 {
    font-size: 68px;
    color: var(--Primary_color);
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

#bannar_section p {
    font-size: 18px;
    color: var(--Primary_color);
    font-weight: 400;
    line-height: 33px;
}

#bannar_section img {
    display: block;
    margin: 52px auto;
}

#bannar_section .btn {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 15px;
    font-weight: 800;
    background-color: #cfc91d;
    padding: 19px 43px;
}

/* End Bannar Section CSS Style Here */


/* Start About Section CSS Style Here */
#about_section {
    background-color: var(--Primary_color);
    text-align: center;
    padding: 100px 0;

}

#about_section h2 {
    font-size: 45px;
    color: var(--heading_color);
    font-weight: 800;
    line-height: 90px;
    font-weight: 800;
    text-transform: capitalize;
}

#about_section p:nth-child(1) {
    font-size: 16px;
    color: var(--Primary_color);
    font-weight: 400;
    line-height: 41px;
}

/* End About Section CSS Style Here */